/* Write your CSS code here */

.home-container {
  padding: 0 2rem 2rem 2rem;
  font-family: 'Roboto';
}

.home-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 0.7rem;
}

.home-heading {
  color: #1e293b;
  font-size: 2.4rem;
  font-weight: 600;
  /* margin-bottom: 1rem; */
}

.home-description {
  color: #64748b;
  font-size: 1.3rem;
  line-height: 1.5;
}

.home-btn {
  background-color: #0967d2;
  color: #ffffff;
  border: none;
  border-radius: 6px;
  height: 40px;
  width: 120px;
  padding: 0.5rem;
  font-size: 1rem;
}

.home-btn:hover {
  cursor: pointer;
}

.home-image {
  height: 400px;
  width: 100%;
}
